
@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;


*{font-family: 'Poppins', sans-serif;}

.ott{
    outline-width: 2px;
    outline-color: rgba(0, 0, 255, 0.12);
}

.custom-scroll::-webkit-scrollbar {
    width: 6px; /* WebKit */
    height: 6px; /* WebKit */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #808080; /* WebKit thumb color */
    border-radius: 10px; /* Optional: round thumb corners */
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* WebKit track color */
  }

  .grid-cols-30{
    grid-template-columns: repeat(31,1fr);
  }